<button class="btn btn-danger" target="_blank" @onclick=@(async () => await OnRemoveClick.InvokeAsync(Item))>Remove</button>

@code {
    [Parameter]
    public PriceMonitorData.Item Item { get; set; }
    [Parameter]
    public EventCallback<PriceMonitorData.Item> OnRemoveClick { get; set; }
}
