<button class="btn btn-danger" @onclick=@(async () => await OnRemoveClick.InvokeAsync(Item))>Remove</button>

@code {
    [Parameter]
    public PriceMonitorData.Models.Item Item { get; set; }
    [Parameter]
    public EventCallback<PriceMonitorData.Models.Item> OnRemoveClick { get; set; }
}
