@page "/AdminPriceCheckerServiceStatus"
@attribute [Authorize(Roles = "Admin")]
@using PriceMonitorBlazor.Shared.Admin

<h3>Price Checker Service Status</h3>

<PriceCheckerServiceStatus />
@code {

}
