@page "/UserEdit/{UserId}"
@attribute [Authorize(Roles = "Admin")]
@using PriceMonitorBlazor.Shared.Admin

<h3>Edit User</h3>

<UserView UserId="@UserId" />

@code {
    [Parameter]
    public string UserId { get; set; }

    private IdentityUser User;

}
