<a class="btn btn-primary alert-danger" href="UserEdit/@UserId">Edit</a>

@code {
    [Parameter]
    public string UserId { get; set; }
    //[Parameter]
    //public EventCallback<PriceMonitorData.Item> OnRemoveClick { get; set; }
}
