@using PriceMonitorData
@inject UserRepository db
@using PriceMonitorBlazor.Shared.Admin
@using Microsoft.AspNetCore.Mvc.TagHelpers

    <div class="table-responsive">
        @if (users == null)
        {
        <span class="text-secondary">Loading...</span>
        }
        else if (users.Length == 0)
        {
            <p><em>There is no users...</em></p>
        }
        else
        {
            <table class="table table-sm table-striped">
                <thead>
                    <tr>
                        <th>Email</th>
                        <th>Name</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in users)
                    {
                        <tr>
                            <td>@user.Email</td>
                            <td>@user.UserName</td>
                            <td>
                                <UserActions UserId="@user.Id" />
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>

<Pagination OnPageClick="@LoadUsers" TotalPages="totalPages" />

@code {

    private Mobsites.AspNetCore.Identity.Cosmos.IdentityUser[] users;

    private int totalPages = 1;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);

        if (users == null)
        {
            await LoadUsers();

            totalPages = await db.GetAllUsersTotalPagesAsync();

            this.StateHasChanged();
        }
    }

    public async Task LoadUsers(int page = 1)
    {
        try
        {
            users = (await db.GetAllUsersAsync(page)).ToArray();

            this.StateHasChanged();
        }
        catch { }
    }

}
