@page "/fetchdata"

<AuthorizeView>
    <Authorized>
        <AddItem Title="Add New Item"/>
        <ItemsList Title="All Items" />
    </Authorized>
    <NotAuthorized>
        <a href="Identity/Account/Login">Log in</a> to see items...
    </NotAuthorized>
</AuthorizeView>