@page "/"

    <AuthorizeView>
        <Authorized>
            //TODO: Список элементов у пользователя
        </Authorized>
        <NotAuthorized>
            <h1>Welcome to Price Monitor</h1>
            <h4>Service informing about price reduction for desired goods.</h4><br />

            <a href="Identity/Account/Register">Register</a> or
            <a href="Identity/Account/Login">Log in</a>
            to use Price Monitor.
        </NotAuthorized>
    </AuthorizeView>


